<!doctype html>
<html>
	<head>
		<title>Key Generator</title>
		<link rel="stylesheet" type="text/css" href="../static/css/keyGen.css">
	</head>
	<body>
	<p id="prompt">Please Enter Your Private Password For KeyGeneration</p>
	<div id="region">
		<input type="text" id="password"></input>
		<button id="generator">Generate Key</button>
	</div>
	</body>
	<script src="../static/js/jquery-1.11.2.js"></script>
	<script src="../static/js/SHA.js"></script>
	<script src="../static/js/keyGen.js"></script>
	
</html>
