body{
	background-color: #061539;
}
#prompt{
	text-align: center;
	font-size: 300%;
	color: #7887AB;
	text-shadow: 1px 1px #000;
	font-family: Comic;
}
#region{
	position: absolute;
	width: 50%;
	height: 50%;
	margin-left: 25%;
	margin-top: 5%;
	background-color: #4F628E;

	border: 2px #162955 solid;
	border-radius: 30%;

}
#password{
	position: absolute;
	width: 50%;
	height: 10%;
	margin-left: 25%;
	margin-top: 10%;
	font-size: 100%;
	text-align: center;
}
#generator{
	position: absolute;
	width: 30%;
	height: 20%;
	margin-left: 35%;
	margin-top: 30%;
	font-family: Comic;
	font-size: 100%;
	background: -webkit-linear-gradient(top, #4F628E, #e3e3e3);
}