
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="The TCSA Project">
    <meta name="author" content="Rohit Menon">

    <title>TCSA</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/css/404.css" rel="stylesheet">

  </head>

  <body>
    <div class="site-wrapper">
      <div class="site-wrapper-inner">
        <div class="cover-container">
          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand ">TCSA Inc.</h3>
              <ul class="nav masthead-nav">
                <h3 class="masthead-brand">Cloud Storage Aggregator</h3>
              </ul> 
            </div>
          </div>
        
          
          <div id="four-o-four">
            <!-- Call corresponding form action here -->
            <div class = "page-header text-right col-md-8 col-xs-6 col-md-offset-6 col-xs-offset-5">
            	<h1>404: Page not found!</h1>
            	<p class="lead">Oh no! We couldn't find the page you were looking for!</p> 
            	<p>Try checking the URL for errors and then hit the refresh button or head back to the <a href="https://cloudstag.me">homepage</a>!</p>
            </div>
            
          </div> 

        </div><!-- cover-container -->
      </div><!-- site-wrapper-inner -->
    </div><!-- site-wrapper -->
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
  </body>
</html>