<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
<link type="text/javascript" href="/static/js/login.js">

  <h1>Sign In</h1>
  <form action="" method="post" name="login">
      {{ form.hidden_tag() }}
      <p>
          Please enter your Email Id:<br>
          {{ form.email(size=80) }}<br>
          {% for error in form.email.errors %}
          	<span style="color: red;"> 
          		[{{ error }}]
          	</span>
          {% endfor %}	
          	| {% for pr in providers %}
   	          <a href="javascript:set_openid('{{ pr.url }}', '{{ pr.name }}');">{{ pr.name }}</a> |
          {% endfor	 %}
      </p>
      <p>
      	  Please enter your password:<br>
          {{ form.password(size=80) }}<br>
      </p>
      <p>{{ form.remember_me }} Remember Me</p>
      <p><input type="submit" value="Sign In"></p>
  </form>
{% endblock %}