
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>TCSA Sign Up</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/signup.css" rel="stylesheet">

  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
            
            <li ><h4 id="header4">Existing User? </h4></li>
            <li role="presentation" class="active"><a href="login.html">Login</a></li>

          </ul>
        </nav>
        <h3 >TCSA Inc.</h3>
      </div>

      <form method="POST" action="">
        <div class="row marketing" id="form-bg">
          <h3 id="form-header" class="text-center block-center">New User Registration!</h3>
          
          <div class="col-md-6 col-md-offset-3">
            <div class="form-group">
              <label for="EmailAddress">Choose your email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email" required>
            </div>
            <div class="form-group">
              <label for="Password1">Create a password</label>
              <input type="password" class="form-control" id="Password1" placeholder="Password" minlength="5" required>
            </div>

            <div class="form-group">
              <label for="Password2">Confirm your password</label>
              <input type="password" class="form-control" id="Password2" placeholder="Re-enter Password" minlength="5"required>
            </div>

            <div class="form-group">
              <label for="Passphrase1">Create a passphrase (min. 8 characters)</label>
              <input type="password" class="form-control" id="Passphrase1" placeholder="Passphrase" minlength="8" required>
            </div>

            <div class="form-group">
              <label for="Passphrase2">Confirm your passphrase </label>
              <input type="password" class="form-control" id="Passphrase2" placeholder="Re-enter Passphrase" minlength="8" required>
            </div>

            <div class="form-group">
              <label id="file-upload" for="exampleInputFile">Upload your public key here </label>
              <input type="file" id="exampleInputFile" required>
            </div>            

            <button type="submit" class="btn btn-danger col-md-offset-4 col-xs-offset-4">Submit</button>
        </div>
      </form>

    </div> <!-- /container -->

    <!-- Copyright and Footer-->
    <footer>
      <div class="inner text-center" id="ftr">
        <p>Copyright © 2014 The TCSA Project. All rights reserved</p>
      </div>  
    </footer>

  </body>
</html>
