/* Move down content because we have a fixed navbar that is 50px tall */

body {
  padding-top: 50px;
  padding-bottom: 20px;
  margin-bottom: 60px;
}

h4#welcome{
	color: #FFF;
	padding-left: 10px;
	padding-right: 10px;
}

h3#page-header {
	color: #FFF;
	margin-top: 10px;
	padding-top: 5px;
}

a.masthead-brand{
	color: #FFF
}

div #upload, #download{
	padding: 5px;
}

div #sidebar {
	min-height: 330px;
}

div #mainbar {
	min-height: 320px;
}
span#newFolderBtn {
	padding: 20px;
}

span#backBtn, #homeBtn {
	padding: 20px;
}

div #encryptBtn {
	/*clear: both;*/
	padding: 10px;
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
}

p.text-center {
	padding-top: 20px;

}
